pandas~=2.2.2
torch~=2.8.0
python-dotenv~=1.1.1
pyarrow
networkx
pydot
matplotlib~=3.8.4
graphviz
tenacity
txtai
h5py
wandb
einops
requests
ray[default]==2.50.1
PyYAML~=6.0.2
setuptools~=73.0.1
dotenv~=0.9.9
numpy~=1.26.4
openai~=1.99.1
scipy~=1.14.1
psutil~=7.0.0
httpx~=0.28.1