streamlit==1.51.0
streamlit-option-menu==0.4.0
streamlit_input_box==0.0.3
openai==2.8.1
python-dotenv==1.0.1
loguru==0.7.3
pandas==2.2.3
numpy==2.2.6
requests==2.32.5
httpx==0.28.1
beautifulsoup4==4.14.2
PyPDF2==3.0.1
spacy==3.8.11
langgraph
pydantic==2.12.5
pydantic-settings==2.12.0
SQLAlchemy==2.0.3
PyMySQL==1.1.2
mysql-connector-python==9.5.0
redis==4.6.0
playwright==1.45.0
selenium==4.38.0
opencv-python==4.12.0.88
fastapi==0.110.2
uvicorn==0.29.0
llama-index==0.14.10
llama-index-llms-openai-like==0.5.3
httpx[socks]
openpyxl